<%- include("header") -%>
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam pariatur, exercitationem fuga soluta, atque
        aspernatur hic odit libero autem nostrum illo cumque dicta doloremque iste aperiam enim distinctio ullam nam?
    </p>
    <%- include("footer") -%>